
#content
{
    color: white;
    text-align: center;
    padding-top: 15%;

}
body{
    background: url("https://images.unsplash.com/photo-1496964223716-6b881a504eef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=abefc9d4a6e4b9b8ddfaaee0cb2c8589&auto=format&fit=crop&w=1973&q=80")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;

}


#underConstruction
{
    color: white;
    text-align: center;
    background-color: transparent;
}
html
{
    height: 100%;
}