
#content {
    color: white;
    text-align: center;
    padding-top: 10%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
footer
{
    padding-top: 2%;
}
footer li {
    padding-right: 10px;
}

.fa-linkedin, .fa-envelope, .fa-github {
    color: black;
    padding-top: 5%;
    text-decoration: none;
    
}

body {
    background: url("../img/night.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.profile-pic {
    width: 200px;
    height: 200px;
}

.technologies {
    width: 50px;
    height: 50px;
}

#underConstruction {
    color: white;
    text-align: center;
    background-color: transparent;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
    background-color: #444;
}

.subheads {
    display: inline;
    padding-left: 2%;
}

.card-body{
    padding: 4.0rem;


}

.carousel-control-next, .carousel-control-prev
{
    width: 7%
}

body.modal-open > :not(.modal) {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}




.fab:hover, .fas:hover {
   text-decoration: none;
}

